html{
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif ;
}
a{
    color: white;
}
#menu{
    position: fixed;
    top: 10px;
    right: 50px;
    color: white;
    font-size: 1.5em;
    
}
li{
    display: inline-block;
    margin-left: 40px;
    

}
#main{
    color: white;
    position: fixed;
    top: 5%;
    right: 48vw;
}
.fas,.fa-bars{
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2em;
    display: none !important;


}
h1{
    position: fixed;
    right: 870px;
    font-size: 3.5em;
    border:solid 5px rgb(77, 76, 76);
    background-color: black;
    padding: 5px ;
    

}
.ThankYou{
    position: fixed;
    font-size: 2.5em;
    text-align: center;
    left: 18%;
    top: 20vh;
    float: left;
    line-height: 2em;
    width: 60vw;

}
.Info{
    text-align: center;
    position: fixed;
    top: 80vh;
    left: 44%;
    line-height: 2em;
    border:solid 5px rgb(77, 76, 76);
    background-color: black;
    padding: 5px ;
    
}
#miata{
    position: fixed;
    right: -1%;
    top: 20%;
    width: 36vw;
    height: 80vh;
    background: url(./images/miata.jpg);
    background-size: cover;
    border-radius: 8px;
}
.team{
    left: 180px;
    position: fixed;
    top: 20%;
    font-size: 2em;
    }
.teamtable{
    font-size: 1.3em;
    top: 27%;
    position: fixed;
    left: 2%;
    height: 40vh;
    color: white;
}

/* ipad size */
@media (max-width:1024px){
    #menu{
        display: none !important; 
    }
    .fa-bars{
        display: block !important;
        color: white;
        position: fixed;
        top: 20px;
        right: 30px;
        }
    ul{
        display:none;
    }
    h1{
        position: fixed;
        right: 40%;
        font-size: 3em;
        top: 0;
    }
    .ThankYou{
        position: fixed;
        font-size: 1.5em;
        left: 20%;
        top: 7vh;
        text-align: center;
        float: right;
        line-height: 2em;
        width: 60vw;
    
    }
    .Info{
        text-align: center;
        position: fixed;
        top: 86vh;
        left: 40%;
        line-height: 2em;
        font-size: 1.2em;
    }
    #miata{
        position: fixed;
        float: left;
        left: 11%;
        top: 27%;
        width: 80vw;
        height: 60vh;
        background-size: cover;
        border-radius: 8px;
    }
    .team{
        display: none;
    }
    .teamtable{
        display: none;
    }
}
/* iphone size */
            
@media (max-width:414px)
{
    h1{
        position: fixed;
        right: 32%;
        font-size: 2.5em;
        top: 0;
    }
    .ThankYou{
        position: fixed;
        font-size: 0.75em;
        left: 20%;
        top: 8vh;
        text-align: center;
        float: right;
        line-height: 2em;
        width: 60vw;
    
    }
    .Info{
        text-align: center;
        position: fixed;
        top: 85vh;
        left: 23%;
        line-height: 1.5em;
    }
    #miata{
        position: fixed;
        left: -4%;
        top: 25%;
        width: 110vw;
        height: 55vh;
        background-size: cover;
        border-radius: 8px;
    }
    .team{
        display: none;
    }
    .teamtable{
        display: none;
    }

}