
/* Desktop size        */
        html{
            background-color: rgb(87, 87, 87);
            width: 100%;
            height: 100vh;
            font-family:Arial, Helvetica, sans-serif ;
        }
        a{
            color: white;
        }
        #Wagon{
            /* Location */
            position: fixed;
            top: 0;
            left: 0;
            /* dimension for the image*/
            width: 900px;
            height: 540px;
            /* Background image */
            background: url(./images/shaggy\ .jpg)no-repeat;
            background-size: cover;
            border-radius: 8px;
            
            }

            #truck{
                position: fixed;
               
                left: 0;
                bottom: 0;

                width: 900px;
                height: 540px;

                background: url(./images/JoshPickup2.jpg) no-repeat;
                background-size: cover;
                border-radius: 8px;
            }
            #menu{
                position: fixed;
                top: 10px;
                right: 50px;
                color: white;
                font-size: 1.5em;
                


                
            }
            li{
                display: inline-block;
                margin-left: 40px;
                

            }
            #main{
                color: white;
                position: fixed;
                top: 20%;
                right: 15vw;
                border:solid 5px rgb(77, 76, 76);
    background-color: black;
    padding: 5px ;
            }
            h1{
                font-size: 3.2em;

            }
            .middle{
                font-size: 2em;
            }
            .button{
                position: absolute;
                top: 380px;
                width: 250px;
                height: 44px;
                text-align: center;
                line-height: 40px;
                font-size: 1.5em;
                background-color: black;
                padding: 10px;
                border-radius: 10px;
                left: 320px;
            }
            .bottom{
                position: absolute;
                top: 470px;
                font-size: 1.5em;
                left: 200px;
                text-align: center;
            }
            .footer{
                position: fixed;
                bottom: 0;
                color: rgb(4, 180, 19);
                right: 10px;
                padding: 20px;
                font-size: 2em;
                }
                .fas,.fa-bars{
                    color: white;
                    position: fixed;
                    top: 20px;
                    right: 20px;
                    font-size: 2em;
                    display: none !important;
                

                }
                .box{
                 
                  border: 5px black ;
                  z-index: 5000px;
                color: black;
                }
          

                /* ipad size */
            @media (max-width:1024px){
                #menu{
                    display: none !important; 
                }
                .fa-bars{
                    display: block !important;
                    color: white;
                    position: fixed;
                    top: 20px;
                    right: 30px;
                    }
                ul{
                    display:none;
                }
            
            #Wagon{
              display: none;
            
                
            } 
            #truck{
                position: fixed;
               
                left: 0;
                bottom: 0;

                width: 100vw;
                height: 600px;
                border-radius: 8px;
             
                background-size: cover;}
   
            .footer{
                top: 0;
                left: 0;
            }
            #main{
               left: 30px;
               top: 150px; 
               font-size: 1.3em;
                }
            .button{
                top: 400px;
                left: 350px;
                width: 250px;
                height: 44px;
                text-align: center;
                line-height: 35px;
                font-size: 1.3em;
                background-color: black;
                padding: 10px;
                border-radius: 10px;
            }
            .bottom{
                top: 470px;
                left: 150px;
            }
            } 
             /* iphone size */
            
            @media (max-width:414px) {
                #truck{
                    position: cover;
                   
                    left: -100px;
                    bottom: 0;
                    border-radius: 8px;
                    width: 550px;
                    height: 350px; 
                }
                .footer{
                    position: fixed;
                    top: 0;
                    left: 0;
                    font-size: 1.5em;
                }
                h1{
                    font-size: 2.5em !important;
                }
                #main{
                   left: 30px;
                   top: 80px; 
                   font-size: 1em;
                    }
                .button{
                    top: 280px;
                    left: 85px;
                    position: absolute;
                width: 250px;
                height: 34px;
                text-align: center;
                line-height: 32px;
                font-size: 1.2em;
                background-color: black;
                padding: 10px;
                border-radius: 10px;
                left: 40px;   
                }
                .bottom{
                    top: 350px;
                    text-align: center;
                    font-size: 1em;
                    left: 35px;
                }     
             .middle{
                    font-size: 1.5em;
                    
                } 
            



            }